*{margin:0;padding:0}
body{font-family:arial;font-size:16px;line-height:22px;color:#666;background:  #21201B;}
.main{width:950px;height:1000px;margin:20px auto;display:block;}
.heading{margin-top:30px;font-family:cursive;;margin-bottom:20px}
.heading span{color:#E08A27}
.slider{margin-top:3px;height:322px;width:960px;background:url(images/main.jpg) no-repeat}
.slider_text{position:relative;width:100%}
.sidebar{background:#F6F6F6;overflow:hidden;width:100%}
.sidebar ul{list-style:none}
.sidebar ul li {float:left;border-bottom:1px solid #856408;border-left:1px solid #856408}
.sidebar ul li:last-child{border-right:none}
.sidebar ul li a{display:block;color:#000;padding:5px 10px;text-decoration:none}
.sidebar ul li a:hover{background:#E08A27}
.container {width:960px;margin-top:25px;}
.footer-social { float: right; margin-top:5px;}
.footer-social li { display: inline;}
.footer-social span { margin-top: -20px;}


.middle {width:770px;height:400px;float:left;background-color:#2A2521;font-size:15px}
.middle p{margin-left:20px;margin-right:20px}
.right {width:170px;height:400px;float:left;margin-left:10px;background-color:black;font-size:15px;font color:#E08A27}
.right p{margin-left:20px;margin-right:20px;color:#E08A27}
h2{font-family:cursive;margin-bottom:30px;color:#fff;margin-top:20px;margin-left:20px}
.left span{color:#E08A27}
.middle span{color:#E08A27}
.right span{color:#E08A27}
h1{color:#fff}
.right p span{color:#E08A27}
.right ul{margin-left:30px;color:#F6F6F6}
.right ul li a:hover{background:#F6F6F6}
.footer{width:950px;height:50px;float:left;background-color:#2A2521;font-size:15px;margin-top:10px}
.footer p{margin-left:850px;margin-top:25px}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}

body{background-color:black}
table {
	
    border:3px solid #C95F12;
    border-collapse: collapse;
	color:white;
	background-color:#5F86C2;
}
th{color:#F2EFBB; padding: 5px; border:3px solid #C95F12;}
 td {
   background-color:#5F86C2;
    padding: 5px;
    text-align: left;
	color:white;
	 border:3px solid #C95F12;
	 padding: 5px;
}
tr{
   background-color:#5F86C2;
    padding: 5px;
    text-align: left;
	color:white;
	 border:3px solid #C95F12;
}
h2{color:white;
text-align:center}


.menubar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	text-align:right;
width:100%;

	
}




li a {
    display: block;
    float:left;
    color: orange;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
	background-color:black;
}
li a:hover {
    background-color:gray;
	border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
.per{display :block}

.image {
    position:relative;
}

.text {
   
    position:absolute;
    text-align:right;
    bottom:-80px;
    width: 50%
	color:orange
}

img {
    display: block;
    margin: auto;
    width:30%

	
}


/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color:white;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 60%;
  text-align:left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 5%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 100px) {
  .text {font-size: 11px
  color:Yellow
  }
}
